<h1> LOGIN </h1>



<form action="/login" method="POST">

<input type="text" name="username" placeholder="username"><br>
<input type="password" name="password" placeholder="password">
<button> LOGIN </button>


</form> 



 <button><a href="/"> GO BACK </a></button></div>
