<h1> Create a New Anime Post </h1>

<form action = "/animelist" method="POST">
<input type="text" name="name" placeholder = "Anime Title">
<input type="text" name="image" placeholder = "image url"> 
<input type="text" name="description" placeholder = "Description">
<button> Submit </button>
</form>

<a href="/animelist"> GO BACK</a>
